<html>

{%load static%}
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<div class="col" id="uploadIDForm">
    <h3>Upload docx/doc file</h3>
    <p>Upload your file.</p>
    <form class="uploadForm" action="" method="POST" enctype="multipart/form-data" >
        {%csrf_token%}
        {% for field in form%}
        {{field}}
        {%endfor%}
        <br>
        <input type="submit" value="Convert" id="id_submitfile">

    </form>
</div>

<script src="static/js/main.js"></script>
</html>
