<html>
{%load static%}
<head>
    <link rel="stylesheet" href="static/css/base.css">

</head>
<div class="col" id="uploadIDForm">
    <h3>Upload docx file</h3>
    <p>Upload your file.</p>
</div>
<!--<div class="col" id="uploadAddressForm">-->
<!--    <h3>Verify Your Address</h3>-->
<!--    <p>Lorem ipsum dolor sit amet.</p>-->
<!--</div>-->
<script type="text/html" id="uploadFormTemplate">
    <form action="" method="POST" class="uploadForm" enctype="multipart/form-data">
        {%csrf_token%}
        
        <span class="inputs"></span>
        <p class="uploadCaption">
            {%for field in form%}
        {{field}}
        {%endfor%}
        </p>
        <p class="subcaption">File	size limit: 100Mb | File type allowed: docx</p>
        <p class="uploadQueue"></p>
        <input type="submit" value="Submit">
    </form>
</script>
<script src="/static/js/main.js"></script>

</html>